#encabezado{
    float: top;   
    height: 80px;
}
#navegador{
    float: right;
}
#navegador ul{
   list-style-type: none;
   text-align: right;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}

#titulo {
    float: left;
}
h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0.6em;
  padding: 0 0 5px 0;
  line-height: 0px;
}

h1, h2, h3 { 
  font: normal 250% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;
  line-height: 0px;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #009FBC;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
  letter-spacing: 0.15em;
}

h4, h6 { 
  color: #009FBC;
  padding: 0 0 5px 0;
  font: normal 120% arial;
}

h5, h6 { 
  color: #bbb;
  font: italic 95% arial;
  letter-spacing: normal;
  line-height: 0px;
  padding: 0 0 15px 0;
}

#footer{
    width: 100%;
  font-family: 'lucida sans', sans-serif;
  font-size: 90%;
  height: 60px;
  padding: 20px 0 5px 0;
  text-align: center; 
  color: #A8AA94;
  margin: 0 0 0 0;
}

#cuerpo {
    width: 100%;
	font-family: "Arial", Tahoma, Sans-Serif;
	font-size: 12px;
	line-height: 18px;
	color: #888;
          margin: 0 0 0 0;
}